[submodule "part3/thephonebook"]
	path = part3/thephonebook
	url = https://github.com/ViksyAsenov/thephonebook-backend

[submodule "examples/notes-backend"]
	path = examples/notes-backend
	url = https://github.com/ViksyAsenov/notes-backend
